DJANGO_SETTINGS_ENV=prod
DJANGO_SECRET_KEY=troque-por-uma-chave-forte
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=seudominio.com,www.seudominio.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://seudominio.com,https://www.seudominio.com
DJANGO_SECURE_SSL_REDIRECT=True
USE_X_FORWARDED_HOST=True

DATABASE_ENGINE=postgres
POSTGRES_DB=dlima_vendas
POSTGRES_USER=dlima_user
POSTGRES_PASSWORD=troque-por-uma-senha-forte
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60

USE_REDIS_CHANNEL_LAYER=True
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_URL=redis://127.0.0.1:6379/1

PDV_STORE_NAME=Dlima Store
PDV_STORE_ADDRESS=
PDV_RECEIPT_WIDTH=32
PDV_RECEIPT_ENCODING=CP860
PDV_OPEN_CASH_DRAWER=False
PDV_PRINTER_NAME=ELGIN i9(USB)
PDV_PRINTER_SEARCH_TERMS=ELGIN i9(USB),ELGIN,I9,POS-58,BEMATECH

